<% if object.errors.any? %>
  <div id='error_explanation'>
    <div id='danger alert-error'>
      The form contains <%= pluralize(object.errors.count, 'error') %>
    </div>
    <ul class='errors-list'>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>